python-dotenv
langchain
langchain_chroma
langchain_core
langchain_classic
langchain_community
langchain_groq
langchain_huggingface
sentence-transformers
streamlit
validators==0.28.1
youtube_transcript_api
unstructured